.logout{
    position: absolute;
    top: 59%;
    left: 55%;
    
}


.animated-border-buttons {
    background-color: #263059;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 12px 40px 10px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    top: 64%;
    left: 20%;
  }
  
  .animated-border-buttons::before,
  .animated-border-buttons::after {
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 20px;
  }
  
  .animated-border-buttons::before {
    border-top: 2px solid rgb(37, 5, 127);
    right: 0;
    top: -4px;
  }
  .animated-border-buttons:hover{
    background-color: green;
  }
  
  .animated-border-buttons::after {
    border-bottom: 2px solid rgb(27, 24, 173);
    bottom: -4px;
    left: 0;
  }
  
  .animated-border-buttons:hover::before,
  .animated-border-buttons:hover::after {
    width: 100%;
  } 



@media (max-width:1240px) and (min-width:990px)
{
  .logout{
    width: 20%;
    display: flex;
  }
.animated-border-buttons{
  position: absolute;
  width: 55%;
  margin-top: 0.9rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 01rem;
  margin-left: 0.05rem;
}
}

@media (max-width:990px) and (min-width:768px)
{
  .logout{
    width: 20%;
    display: flex;
  }
.animated-border-buttons{
  position: absolute;
  width: 95%;
  margin-top: 0.9rem;
  text-align: center;
  padding: 0.7rem;
  font-size: 1.2rem;
  margin-left: 0.05rem;
}
}

@media (max-width:768px) and (min-width:600px)
{
  .logout{
    width: 20%;
    display: flex;
  }
.animated-border-buttons{
  position: absolute;
  width: 80%;
  margin-top: 0.9rem;
  text-align: center;
  padding: 0.6rem;
  font-size: 1.1rem;
  margin-left: 0.05rem;
}
}

@media (max-width:600px) and (min-width:400px)
{
  .logout{
    width: 20%;
    display: flex;
  }
.animated-border-buttons{
  position: absolute;
  width: 90%;
  margin-top: 0.9rem;
  text-align: center;
  padding: 0.6rem;
  font-size: 1rem;
  margin-left: 0.05rem;
}
}

@media (max-width:400px) and (min-width:265px)
{
    .logout{
      width: 20%;
      display: flex;
    }
  .animated-border-buttons{
    position: absolute;
    width: 110%;
    margin-top: 0.9rem;
    text-align: center;
    padding: 0.6rem;
    font-size: 0.7rem;
    margin-left: 0.05rem;
  }
}